@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* Variables */
:root {
  --primary: #abe497;
  --title-color: #3c3838;
  --sub-title-color: #828282;
  --section-background: #f5f5f5;
}
/* Variables */

/* General */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  padding: 120px 10px;
}

.wrapper.header {
  padding: 30px 10px;
}

.content h2 {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

.title {
  font-weight: 400;
  font-size: 36px;
}

.sub-title {
  color: var(--sub-title-color);
  font-weight: 300;
  font-size: 24px;
  line-height: 146%;
}

.sub-title_dark {
  color: #3c3838;
  font-weight: 500;
}

.title.big-title {
  font-size: 3rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
  padding: 20px 48px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  width: 300px;
}

.btn:hover {
  filter: brightness(0.9);
}

/* General */

/* Burger menu */

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  z-index: 100;
  transition: transform 300ms ease-in-out;
  transform: translateX(100%);
}

.burger-menu a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: var(--title-color);
  margin-bottom: 2rem;
  transition: color 200ms ease-in-out;
}

.burger-menu a:first-child {
  margin-top: 2rem;
}

.burger-menu a:hover {
  color: var(--primary);
}

.close-menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-btn img {
  width: 40px;
}

/* Burger menu */

/* Header */

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
}

.menu__item {
  display: inline-block;
  padding: 0 20px;
}

.menu__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
}

.menu__link:hover {
  border-bottom: 2px solid var(--title-color);
  line-height: 140%;
}

.menu__link.active {
  border-bottom: 2px solid var(--title-color);
  line-height: 140%;
  font-weight: 400;
}

.header__middle {
  display: flex;
  justify-content: space-between;
}

.offer__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 430px;
  justify-content: space-between;
  margin-top: 102px;
}

.social-icon {
  width: 48px;
  height: 48px;
}

.social-icon:hover > img {
  transform: scale(1.1);
}

.social-icon:not(:first-child) {
  margin-left: 25px;
}

.offer__images {
  width: 783px;
  height: 550px;
  position: relative;
}

.offer__image {
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.offer__image-1 {
  bottom: 0;
  right: 0;
  width: 550px;
  height: 400px;
  z-index: 3;
}

.offer__image-2 {
  top: 28px;
  left: 95px;
  width: 420px;
  height: 366px;
  z-index: 1;
}

.offer__image-3 {
  left: 25px;
  top: 226px;
  width: 336px;
  height: 252px;
  z-index: 2;
}
/* Header */

/* Advantages section */
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages__item {
  width: 30%;
  text-align: center;
  margin-bottom: 120px;
}

.advantages__item img {
  width: 128px;
  height: 128px;
  margin-bottom: 20px;
}

.advantages__item h3 {
  margin-bottom: 20px;
}

.advantages__item p {
  width: 240px;
  margin: 0 auto;
}

.advantages__item.w-margin {
  margin-bottom: 0;
}

/* Advantages section  */

/* Production section */

.production__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.production__item_right {
  flex-direction: row-reverse;
}

.production__item img {
  width: 40%;
  height: 300px;
}

.production__item p {
  width: 50%;
}

.production__item:not(:last-child) {
  margin-bottom: 72px;
}

/* Production section */

/* Gallery section */

.gallery-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.gallery-content img {
  width: 85%;
  height: 800px;
  object-fit: contain;
}

.arrow-btn {
  background-color: var(--primary);
  color: #ffffff;
  font-size: 36px;
  border: none;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  border-radius: 100%;
}

.dot_active {
  background-color: var(--title-color);
}
/* Gallery section */

/* How it work section */

.how-it-work__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 99px 153px;
}

.how-it-work__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.how-it-work__item img {
  width: 128px;
  height: 128px;
}

.how-it-work__text {
  width: 70%;
}

.sub-title_green {
  color: var(--primary);
  font-weight: 500;
}

/* How it work section */

/* Form section  */

#form h2 {
  color: #ffffff;
}

.form__container {
  display: flex;
  min-width: 70%;
  margin: 0 auto;
  flex-direction: column;
  background-color: #ffffff;
  padding: 70px 100px 20px 100px;
  border-radius: 20px;
}

.form__container label {
  display: block;
  text-align: left;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
}

.form__container input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  font-size: 36px;
  margin-bottom: 65px;
  font-weight: 300;
}

.form__container .btn {
  margin: 0 auto;
  margin-bottom: 15px;
}

.form__container .sub-title {
  text-align: center;
}
/* Form section  */

/* Contacts */

.contacts-container {
  display: flex;
  justify-content: space-between;
  height: 600px;
  align-items: center;
  overflow: hidden;
  padding: 0px 10px;
}

.contacts-box {
  background-color: #ffffff;
  border-radius: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px;
}

.contacts-box .title {
  text-align: center;
}

.contacts-box .socials {
  margin: 0 auto;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item .sub-title {
  margin-left: 20px;
}

.contacts-images {
  width: 55%;
}

.contacts-images img {
  margin-top: -10px;
  width: 100%;
  height: 400px;
}

/* Contacts */

.footer {
  padding: 20px 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights-text {
  font-size: 24px;
  font-weight: 300;
  color: var(--title-color);
}

/* Sections background colors */

#main {
  background: linear-gradient(280.88deg, var(--primary), #ffffff);
}

#production {
  background-color: var(--section-background);
}

#how-it-work {
  background-color: var(--section-background);
}

#form {
  background-color: var(--primary);
}

#contacts {
  background-color: var(--section-background);
}

/* Sections background colors */

/* Success page */
.success__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.success__btn {
  font-family: inherit;
  margin-top: 30px;
  font-size: 18px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
}

.success__btn:hover {
  filter: brightness(0.9);
}
/* Success page */

/* Media queries */
@media (max-width: 1100px) {
  .menu-btn {
    display: block;
  }
  /* Header */

  .wrapper {
    padding: 120px 40px;
  }

  .wrapper.header {
    padding: 30px 40px;
  }

  .container {
    max-width: 1100px;
  }

  .header__nav {
    display: none;
  }

  .phone {
    display: none;
  }

  .header__middle {
    flex-direction: column-reverse;
  }

  .offer__container {
    margin-top: 50px;
  }

  .offer__images {
    width: 590px;
    height: 400px;
    margin: 0 auto;
  }

  .offer__image-1 {
    bottom: 0;
    right: 0;
    width: 430px;
    height: 300px;
    z-index: 3;
  }

  .offer__image-2 {
    top: 14px;
    left: 80px;
    width: 298px;
    height: 223px;
    z-index: 1;
  }

  .offer__image-3 {
    left: 17px;
    top: 170px;
    width: 238px;
    height: 169px;
    z-index: 2;
  }
  /* Header */

  /* Advantages */
  .advantages__item {
    width: 45%;
  }
  /* Advantages */

  /* Production */

  .production__item,
  .production__item_right {
    flex-direction: column-reverse;
  }

  .production__item img {
    width: 90%;
    height: 350px;
  }

  .production__item div {
    margin-top: 30px;
    width: 100%;
  }

  .production__item p {
    width: 40%;
  }

  /* Gallery */
  .arrow-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .dots {
    padding: 0 175px;
  }

  .gallery-content img {
    height: 500px;
  }
  /* Gallery */

  /* How it work */
  .how-it-work__content {
    gap: 60px 110px;
  }

  .how-it-work__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .how-it-work__text {
    width: 100%;
  }

  /* How it work */

  /* Contacts */

  .contacts-container {
    position: relative;
    padding: 0;
  }

  .contacts-box {
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
  }

  .contacts-images {
    width: 100%;
  }

  .footer {
    padding: 20px 10px;
  }
  /* Contacts */
}

@media (min-width: 320px) and (max-width: 750px) {
  /* General */
  .content h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .wrapper {
    padding: 60px 10px;
  }

  .wrapper.header {
    padding: 25px 10px;
  }

  .container {
    max-width: 768px;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .title {
    font-weight: 400;
    font-size: 24px;
  }

  .sub-title {
    color: var(--sub-title-color);
    font-weight: 300;
    font-size: 18px;
    line-height: 146%;
  }

  .sub-title_green {
    color: var(--primary);
    font-weight: 500;
  }

  .sub-title_dark {
    color: #3c3838;
    font-weight: 500;
  }

  .title.big-title {
    font-size: 36px;
  }

  /* General */

  /* Header */

  .logo {
    width: 80px;
  }
  .offer__images {
    display: none;
  }

  .offer__container {
    width: 100%;
    height: 350px;
    text-align: center;
  }

  .btn {
    margin: 0 auto;
    padding: 15px 34px;
    width: 85%;
    font-size: 18px;
  }
  /* Header */

  /* Advantages */
  .advantages__item {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .w-margin {
    margin-top: 40px;
  }

  .advantages__item img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .advantages__item h3 {
    margin-bottom: 10px;
  }
  /* Advantages */

  /* Production */

  .production__item {
    margin-bottom: 40px;
    text-align: center;
  }

  .production__item img {
    width: 100%;
    height: auto;
  }

  .production__item p {
    width: 80%;
    margin: 0 auto;
  }
  /* Production */

  /* Gallery */
  .gallery-content {
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }

  .gallery-content img {
    order: 1;
    width: 100%;
    height: 350px;
  }

  .gallery-content .arrow-btn {
    order: 2;
    margin: 0 1rem;
    margin-top: 1rem;
  }

  .dots {
    padding: 0 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
  /* Gallery */

  /* How it work */
  .how-it-work__content {
    display: block;
  }

  .how-it-work__item {
    text-align: center;
    margin-top: 40px;
  }

  .how-it-work__item img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  /* How it work */

  /* Form */
  .form__container {
    padding: 15px;
  }

  .form__container label {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .form__container input {
    font-size: 18px;
    padding: 8px;
    margin-bottom: 15px;
  }

  /* Form */

  /* Contacts */

  .contacts-container {
    height: 350px;
  }

  .contacts-images img {
    width: 100%;
    height: 200px;
  }

  .contacts-box {
    width: 90%;
    height: 80%;
    padding: 25px 20px;
  }

  .social-icon img {
    width: 36px;
    height: 36px;
  }

  .contact-item img {
    width: 24px;
    height: 24px;
  }
  /* Contacts */

  /* Footer */
  .footer {
    padding: 20px 10px;
  }

  .rights-text {
    font-size: 18px;
    text-align: right;
  }

  /* Footer */

  .burger-menu {
    padding: 1.5rem;
  }

  .burger-menu a {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .menu-btn img {
    width: 30px;
    height: 30px;
  }
}
/* Media queries */
