@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* Variables */
:root {
  --primary: #abe497;
  --title-color: #3c3838;
  --sub-title-color: #828282;
  --section-background: #f5f5f5;
}
/* Variables */

/* General */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  padding: 120px 10px;
}

.wrapper.header {
  padding: 30px 10px;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

.title {
  font-weight: 400;
  font-size: 36px;
}

.sub-title {
  color: var(--sub-title-color);
  font-weight: 300;
  font-size: 24px;
  line-height: 146%;
}

.sub-title_dark {
  color: #3c3838;
  font-weight: 500;
}

.title.big-title {
  font-size: 3rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--title-color);
  padding: 20px 53px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
}

/* General */

/* Header */

header {
  background: linear-gradient(280.88deg, var(--primary), #ffffff);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
}

.menu__item {
  display: inline-block;
  padding: 0 20px;
}

.menu__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
}

.menu__link:hover {
  border-bottom: 2px solid var(--title-color);
  line-height: 140%;
}

.menu__link.active {
  border-bottom: 2px solid var(--title-color);
  line-height: 140%;
  font-weight: 400;
}

.header__middle {
  display: flex;
  justify-content: space-between;
}

.offer__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 430px;
  justify-content: space-between;
  margin-top: 102px;
}

.social-icon {
  width: 48px;
  height: 48px;
}

.social-icon:not(:first-child) {
  margin-left: 25px;
}

.offer__images {
  width: 783px;
  height: 623px;
  position: relative;
}

.offer__image {
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.offer__image-1 {
  bottom: 0;
  right: 0;
  width: 550px;
  height: 450px;
  z-index: 3;
}

.offer__image-2 {
  top: 28px;
  left: 95px;
  width: 420px;
  height: 366px;
  z-index: 1;
}

.offer__image-3 {
  left: 25px;
  top: 226px;
  width: 336px;
  height: 252px;
  z-index: 2;
}
/* Header */
