@import url(main.css);

/* Success page */
.success__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.success__btn {
  font-family: inherit;
  margin-top: 30px;
  font-size: 18px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
}

.success__btn:hover {
  filter: brightness(0.9);
}
/* Success page */
